<ion-content [fullscreen]="true">
  <img src="assets/icon/login.png" height="20%" class="center">

  
  <ion-list lines="none" class="ion-margin ion-padding ion-text-center">


    <ion-label class="welcome" >Login</ion-label> 
    <ion-item class="ion-margin-vertical">
     

        <ion-input [(ngModel)]="username"  placeholder="username"></ion-input>
         <ion-icon 
        name="mail-outline" slot="end" color="medium">
      </ion-icon>     
    </ion-item>  
    

    <ion-item class="ion-margin-vertical">
      
      <ion-input  (click)="onChange()" [(ngModel)]="password" type="password" placeholder="password"></ion-input>
        <ion-icon 
            [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
            slot="end" 
            [color]="isTypePassword ? 'medium' : 'primary'">
          </ion-icon>
    </ion-item>


 
    <ion-button color="primary"  (click)="send()">Log In</ion-button>
    
  </ion-list>

  
</ion-content>