<!--The content below is only a placeholder and can be replaced.-->
<ion-content [fullscreen]="true">
  <h1 class="title">Beatiful Charts</h1>
  <div class="outter"><div class="inner"><apx-chart 
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div>
</div>
<ion-card class="progresss">
  <div class="oer">
    <apx-chart class="bar"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
    [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>

 </ion-card>
  
</ion-content>   