.container{
    width: 90%;
    height:80vh;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}